body {
  width: 8.5in;
  height: 11in;
  min-width: 8.5in;
  min-height: 11in;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background: white;
  /* border: 1px solid black; */
  padding: 1rem;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.key-value-label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.key-label {
  font-weight: bold;
}

.value-label {
  font-weight: normal;
}