body {
  width: 8.5in;
  height: 11in;
  min-width: 8.5in;
  min-height: 11in;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background: white;
  border: 1px solid black;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.resume-header {
  h1 {
    font-size: 1.2rem;
  }
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.key-value-label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.key-label {
  font-weight: bold;
}

.value-label {
  font-weight: normal;
}

.resume-section {
  h2 {
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 0;
  }
  hr {
    margin: 0;
  }
}

.work-experience-item {}

.work-experience-item-company {
  font-size: 0.8rem;
}

.work-experience-item-title {
  font-size: 0.8rem;
}

.work-experience-item-location {
  font-size: 0.8rem;
  font-weight: lighter;
}

.work-experience-item-bullets {
  font-size: 0.8rem;
}